На сайт были добавлены новые помещения для сдачи
<b><a href='http://рос-аренда.рф/objects/<%= @object.id %>'><%= @object.title %></a></b>
<hr><p>
Вы получили это письмо так как подписаны на рассылку новостей сайта Рос-Аренда<br>
<a href="http://www.рос-аренда.рф/unsubscribe/<%= @subscriber.code.to_s %>">Отписаться</a></p>